@import './_color.less';

/* icon 图标公共样式 */
.iconfont {
  font-size: 20px;
  font-style: normal;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* loading公共样式 */
.loading {
  min-height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
}

/* 左右 单箭头 双箭头 样式 */
.mui-left-arrow::after {
  content: "‹";
  cursor: pointer;
}

.mui-left-db-arrow::after {
  content: "«";
  cursor: pointer;
}

.mui-right-arrow::after {
  content: "›";
  cursor: pointer;
}

.mui-right-db-arrow::after {
  content: "»";
  cursor: pointer;
}

/* felx 布局 col样式 */
.col1 {
  width: 100% !important;
  display: inline-block;
  text-align: center;
}

.col2 {
  width: calc(100% / 2) !important;
  display: inline-block;
  text-align: center;
}

.col3 {
  width: calc(100% / 3) !important;
  display: inline-block;
  text-align: center;
}

.col4 {
  width: calc(100% / 5) !important;
  display: inline-block;
  text-align: center;
}

.col5 {
  width: calc(100% / 5) !important;
  display: inline-block;
  text-align: center;
}

.col6 {
  width: calc(100% / 6) !important;
  display: inline-block;
  text-align: center;
}

.col7 {
  width: calc(100% / 7) !important;
  display: inline-block;
  text-align: center;
}

.row1 {
  height: 100% !important;
}

.row2 {
  height: calc(100% / 2) !important;
}

.row3 {
  height: calc(100% / 3) !important;
}

.row4 {
  height: calc(100% / 5) !important;
}

.row5 {
  height: calc(100% / 5) !important;
}

.row6 {
  height: calc(100% / 6) !important;
}

.row7 {
  height: calc(100% / 7) !important;
}

[mUiInput] {
  width: 220px;
  height: 28px;
  box-sizing: border-box;
  padding: 4px 10px;
  color: #252b3a;
  vertical-align: middle;
  border: 1px solid #adb0b8;
  border-radius: 2px;
  outline: none;
  background-color: #fff;

  &:not([disabled]):not(.disabled):not(.mui-disabled):not(.error):not(.mui-error) {
    &:hover {
      border-color: #575d6c;
    }

    &:focus {
      border-color: #5e7ce0;
    }
  }

  &[disabled],
  &.disabled,
  &.mui-disabled {

    &,
    &:hover {
      cursor: not-allowed;
      background-color: @mui-disabled-bg;
      border-color: @mui-disabled-line;
      color: @mui-disabled-text;
    }
  }
}

// 前缀 css
.mui-prefix {
  position: absolute;
  top: 50%;
  z-index: 2;
  color: rgba(0, 0, 0, .65);
  line-height: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12px;
}

// 后缀 css
.mui-suffix {
  position: absolute;
  top: 50%;
  z-index: 2;
  color: rgba(0, 0, 0, .65);
  line-height: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
}

// ipt 加缀公共样式
.mui-ipt-affixation {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 1;
}

// ipt 有前缀的input
.mui-ipt-prefix {
  input.mui-ipt {
    padding-left: 35px;
  }
}

// ipt 有后缀的input
.mui-ipt-suffix {
  input.mui-ipt {
    padding-right: 35px;
  }
}

// ipt 有前后缀的input
.mui-ipt-affix {
  input.mui-ipt {
    padding: 0 35px;
  }
}
