<div class="mui-alert {{'mui-alert-'+type}}" *ngIf="!hide">
  <span class="mui-alert-icon-{{ type }}" *ngIf="showIcon">
    <i *ngIf="type=='success'" class="iconfont {{type+'-icon'}}">&#xe68e;</i>
    <i *ngIf="type=='info'||type=='warning'" class="iconfont {{type+'-icon'}}">&#xe641;</i>
    <i *ngIf="type=='danger'" class="iconfont {{type+'-icon'}}">&#xe6b0;</i>
  </span>
  <div *ngIf="alertTitle" class="mui-alert-title">{{alertTitle}}</div>
  <i class="mui-alert-close" (click)="close()" *ngIf="closeable">&#xe6ac;</i>
  <div [ngStyle]="{'margin-left':alertTitle?'20px':'0px','display':alertTitle?'block':'inline-block'}">
    <ng-content></ng-content>
  </div>
</div>