.content {
  margin-left: 250px;
  padding-top: 70px;
}

.outlet {
  margin-left: 250px;
  padding: 90px 0 0 20px;
  width: calc(100% - 270px);
  min-height: calc(100% - 90px);
  position: absolute;
  height: auto;
  background-color: #FFFAFA;
}
