<div class="start">
  <h1 class="start-title">MUI-Lib of Angular</h1>
  <h3>author：闫全堃(Mint)</h3>
  <h3>个人介绍：<a style="color: #000;cursor: pointer;" (click)="introduce()">http://39.97.119.181/myself/index.html</a></h3>
  <h3>github:<a style="color: #000;cursor: pointer;" (click)="github()">github.com/yanquankun</a>
  </h3>
  <h3>个人3D介绍（服务器性能较差，初次加载时间较长哦）:<a style="color: #000;cursor: pointer;"
      (click)="three()">http://39.97.119.181/3DResume/resume.html</a>
  </h3>
  <div class="start-div">
    此项目为我个人设计UI框架，不可用于商业用途，版本为最初始版本，存在较多问题，会在后续版本中不断更新迭代，此版本并未投入实际生产环境中使用。<br>开发此UI框架，意味自己独立造轮子，且后期可以投入项目正常使用，对个人、公司、团队中的UI框架增加较强的定制性
  </div>
  <div class="start-div">
    github地址：项目初期，暂不开源，项目完善后，将会进行开源
  </div>
  <div class="start-div">
    npm地址：<a (click)="toNpm()" style="color: #000;cursor: pointer;">https://www.npmjs.com/package/m-ui-lib</a>
  </div>
  <div class="notice">注意：需引入全局样式</div>
  <div class="start-div">
    全局less引入：在 angular.json 文件中引入mui样式:
    <app-code lang="javascript" ngNonBindable ngPreserveWhitespaces>
      &#123; "styles":
      [
      "node_modules/m-ui-lib/mui.less"
      ]
      &#125;
    </app-code>
  </div>
  <div class="start-div">
    "或全局css引入：在 angular.json 文件中引入mui样式:
    <app-code lang="javascript" ngNonBindable ngPreserveWhitespaces>
      &#123; "styles":
      [
      "node_modules/m-ui-lib/mui.css"
      ]
      &#125;
    </app-code>
  </div>
  <div class="start-div">
    公用样式文件（如：tag控件烟花特效样式）：
    <span class="common-sp">
      <a target="_blank" href="http://39.97.119.181/ng-mui-style/1.1.0/compile/output.css">output.css</a>
    </span>
    <span class="common-sp">
      <a target="_blank" href="http://39.97.119.181/ng-mui-style/1.0.0/compile/output.less">output.less</a>
    </span>
    <span class="common-sp">
      <a target="_blank" href="http://39.97.119.181/ng-mui-style/1.0.0/compile/output.min.css">output.min.css</a>
    </span>
    <span class="common-sp">
      <a target="_blank" href="http://39.97.119.181/ng-mui-style/1.0.0/compile/output.min.less">output.min.less</a>
    </span>
  </div>
  <div class="start-div">
    最后： 初期UI框架功能及介绍网站较为简陋，所有开发均为本人独立开发，无法全身心投入，后期会逐步优化，敬请期待吧~
  </div>
</div>