<div class="start">
  <h1 class="start-title">MUI-Lib of Angular</h1>
  <h3>author：闫全堃(Mint)</h3>
  <h3>个人介绍：<a style="color: #000;cursor: pointer;" (click)="introduce()">http://39.97.119.181/myself/index.html</a></h3>
  <h3>github:<a style="color: #000;cursor: pointer;" (click)="github()">github.com/yanquankun</a>
  </h3>
  <h3>个人3D介绍（服务器性能较差，初次加载时间较长哦）:<a style="color: #000;cursor: pointer;"
      (click)="three()">http://39.97.119.181/3DResume/resume.html</a>
  </h3>
  <span class="common-sp">
    此项目为我个人设计UI框架，不可用于商业用途，版本为最初始版本，存在较多问题，会在后续版本中不断更新迭代，此版本并未投入实际生产环境中使用。<br>开发此UI框架，意味自己独立造轮子，且后期可以投入项目正常使用，对个人、公司、团队中的UI框架增加较强的定制性
  </span>
  <span class="common-sp">
    项目初期，暂不开源，随版本迭代后期，将会进行开源
  </span>
  <span class="common-sp">
    npm地址：项目初期，暂不开源，随版本迭代后期，将会进行开源
  </span>
  <span class="common-sp">
    下载方式：<a (click)="toNpm()" style="color: #000;cursor: pointer;">https://www.npmjs.com/package/m-ui-lib</a>
  </span>
  <span class="common-sp">
    最后： 初期UI框架功能及介绍网站较为简陋，所有开发均为本人独立开发，无法全身心投入，后期会逐步优化，敬请期待吧~
  </span>
</div>