<m-ui-alert alertTitle="我是标题" [closeable]="true" type="danger" [closeDelayTime]="false">我是一个danger的alert</m-ui-alert>
<m-ui-alert [type]="'success'" [closeDelayTime]="false">我是一个success的alert</m-ui-alert>
<m-ui-alert [type]="'info'" [closeDelayTime]="false">我是一个info的alert</m-ui-alert>
<m-ui-alert [type]="'warning'" [closeDelayTime]="false">我是一个warning的alert</m-ui-alert>
<m-ui-alert [showIcon]="false" [type]="'warning'" [closeDelayTime]="false">我是一个没有icon的warning的alert</m-ui-alert>
<router-outlet></router-outlet> 